# Ignore compiled binary and executable files
*.exe
*.dll
*.so
*.dylib
*.out
*.app
*.apk
*.aab
*.aar
*.

# Ignore local build directories or custom bin folders
bin/
build/
dist/
target/

# Ignore Go binary outputs specifically (if built locally)
/bin/